* {
  margin: 0;
  background-color: black;
  text-align: center;
}
.money-input {
  display:flex;
  justify-content: column;
  text-align: center;
}

.first-part {
  margin:30px;
  text-align: center;
}

.kitchen-tip {
  margin: 20px;
  text-align: center;
}

.lunch-percent {
  margin-top: 30px;
  text-align: center;
}

.tip-results {
  display: flex;
  justify-content: center;
  padding: 0px;
}

.tip-results-specific {
  margin: 20px 20px 10px 20px;
}

.dinner-percent {
  text-align: center;
  margin-top: 30px;
}

.dinner-input {
  width:26%
}

input {
  height: 35px;
  border-radius: 20%;
  margin: 5px;
  margin-bottom: 0;
}

